.map-container-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.recenter-btn {
  position: absolute;
  bottom: 80px;
  right: 12px;
  background-color: #1e1e1e;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
